.main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.settings{
    background-color: aquamarine;
    grid-column: span 4;
}
.sections{
    background-color: #f0f0f0;
    grid-row: span 3;
}

@media screen and (max-width: 768px){
    .sections{
        background-color: #f0f0f0;
        grid-row: span 3;
        visibility: hidden;
        position: absolute;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.questions{
    background-color: #b0ffa3;
    grid-column: span 4;
    grid-row: span 3;
}
.question{
    background-color: #f0f0f0;
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
}
.votes{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    align-items: center;
    justify-items: center;
}