<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{question['title']}} | The Forum</title>
    <link rel="stylesheet" href="/static/css/question.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">The Forum</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/new">New</a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    <div class="container mt-5 main">
        <div class="question">
                <div class="votes">
                    <div class="upvote">
                    {% if user['_id'] in question['upvotes'] %}
                        <button class="upvote-button btn btn-success btn-sm" id="{{question['_id']}}up" onclick="upvote(`{{question['_id']}}`)">
                            <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px">
                        </button>
                    {% else %}
                        <button class="upvote-button btn btn-outline-success btn-sm" id="{{question['_id']}}up" onclick="upvote(`{{question['_id']}}`)">
                            <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px">
                        </button>
                    {% endif %}
                    </div>
                    <div class="votes-count" id="{{question['_id']}}count">{{question['upvotes']|length - question['downvotes']|length}}</div>
                    <div class="downvote">
                        {% if user['_id'] in question['downvotes'] %}
                            <button class="downvote-button btn btn-danger btn-sm" id="{{question['_id']}}down" onclick="downvote(`{{question['_id']}}`)">
                                <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px" style="transform: rotate(180deg);">
                            </button>
                        {% else %}
                            <button class="downvote-button btn btn-outline-danger btn-sm" id="{{question['_id']}}down" onclick="downvote(`{{question['_id']}}`)">
                                <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px" style="transform: rotate(180deg);">
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="question-title">
                    <div class="question-info">
                        <p class="text-muted">By: {{question['user']['username']}} On: {{question['created']}}</p>
                    </div>
                    <h1>
                        {{question['title']}}
                    </h1>
                </div>
            <h5 class="question-content">{{question['body']}}</h5>
        </div>
        <div class="add-answer">
            <form action="/question/{{question['_id']}}/answer" method="POST">
                <div class="form-group">
                    <label for="answer">Answer</label>
                    <textarea class="form-control" id="answer" name="answer" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% for answer in question['answers'] %}
            <div class="answer" id="{{answer['_id']}}">
                <div class="votes">
                    <div class="upvote">
                    {% if user['_id'] in answer['upvotes'] %}
                        <button class="upvote-button btn btn-success btn-sm" id="{{answer['_id']}}up" onclick="upvoteAnswer(`{{question['_id']}}`, `{{answer['_id']}}`)">
                            <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px">
                        </button>
                    {% else %}
                        <button class="upvote-button btn btn-outline-success btn-sm" id="{{answer['_id']}}up" onclick="upvoteAnswer(`{{question['_id']}}`, `{{answer['_id']}}`)">
                            <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px">
                        </button>
                    {% endif %}
                    </div>
                    <div class="votes-count" id="{{answer['_id']}}count">{{answer['upvotes']|length - answer['downvotes']|length}}</div>
                    <div class="downvote">
                        {% if user['_id'] in answer['downvotes'] %}
                            <button class="downvote-button btn btn-danger btn-sm" id="{{answer['_id']}}down" onclick="downvoteAnswer(`{{question['_id']}}`, `{{answer['_id']}}`)">
                                <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px" style="transform: rotate(180deg);">
                            </button>
                        {% else %}
                            <button class="downvote-button btn btn-outline-danger btn-sm" id="{{answer['_id']}}down" onclick="downvoteAnswer(`{{question['_id']}}`, `{{answer['_id']}}`)">
                                <img src="https://cdn-icons-png.flaticon.com/512/6367/6367813.png" alt="" height="26px" style="transform: rotate(180deg);">
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="question-title">
                    <div class="question-info">
                        <p class="text-muted">By: {{answer['user']['username']}} On: {{answer['created']}}</p>
                    </div>
                    <h5 class="question-content">{{answer['body']}}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="/static/js/index.js"></script>
    <script>
        function upvote(id){
            if ($("#"+id+"up").hasClass('btn-success')){
                $.ajax({
                    url: "/upvote/"+id,
                    type: "POST",
                    success: function(data) {
                        $("#"+id+"up").removeClass('btn-success');
                        $("#"+id+"up").addClass('btn-outline-success');
                        $("#"+id+"count").text(parseInt($("#"+id+"count").text())-1);
                    }
                });
            } else{
                $.ajax({
                    url: "/upvote/"+id,
                    type: "POST",
                    success: function(data) {
                        $("#"+id+"up").addClass('btn-success');
                        $("#"+id+"up").removeClass('btn-outline-success');
                        $("#"+id+"count").text(parseInt($("#"+id+"count").text())+1);
                    }
                });
            }
        }
        function downvote(id){
            if ($("#"+id+"down").hasClass('btn-danger')){
                $.ajax({
                    url: "/downvote/"+id,
                    type: "POST",
                    success: function(data) {
                        $("#"+id+"down").removeClass('btn-danger');
                        $("#"+id+"down").addClass('btn-outline-danger');
                        $("#"+id+"count").text(parseInt($("#"+id+"count").text())+1);
                    }
                });
            } else{
                $.ajax({
                    url: "/downvote/"+id,
                    type: "POST",
                    success: function(data) {
                        $("#"+id+"down").addClass('btn-danger');
                        $("#"+id+"down").removeClass('btn-outline-danger');
                        $("#"+id+"count").text(parseInt($("#"+id+"count").text())-1);
                    }
                });
            }
        }
        function upvoteAnswer(question, answer){
            if ($("#"+answer+"up").hasClass('btn-success')){
                $.ajax({
                    url: `/upvote/${question}/${answer}`,
                    type: "POST",
                    success: function(data) {
                        $("#"+answer+"up").removeClass('btn-success');
                        $("#"+answer+"up").addClass('btn-outline-success');
                        $("#"+answer+"count").text(parseInt($("#"+answer+"count").text())-1);
                    }
                });
            } else{
                $.ajax({
                    url: `/upvote/${question}/${answer}`,
                    type: "POST",
                    success: function(data) {
                        $("#"+answer+"up").addClass('btn-success');
                        $("#"+answer+"up").removeClass('btn-outline-success');
                        $("#"+answer+"count").text(parseInt($("#"+answer+"count").text())+1);
                    }
                });
            }
        }
        function downvoteAnswer(question, answer){
            if ($("#"+answer+"down").hasClass('btn-danger')){
                $.ajax({
                    url: `/downvote/${question}/${answer}`,
                    type: "POST",
                    success: function(data) {
                        $("#"+answer+"down").removeClass('btn-danger');
                        $("#"+answer+"down").addClass('btn-outline-danger');
                        $("#"+answer+"count").text(parseInt($("#"+answer+"count").text())+1);
                    }
                });
            } else{
                $.ajax({
                    url: `/downvote/${question}/${answer}`,
                    type: "POST",
                    success: function(data) {
                        $("#"+answer+"down").addClass('btn-danger');
                        $("#"+answer+"down").removeClass('btn-outline-danger');
                        $("#"+answer+"count").text(parseInt($("#"+answer+"count").text())-1);
                    }
                });
            }
        }
    </script>
</body>
</html>
